.programs__list {
  @include reset-list;
}

.programs__item {
  background-color: $background-color-secondary;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programs__text {
  font-family: $font-family-secondary;
  font-size: 14px;
  line-height: 18px;
  color: $text-color-dark-secondary;
}

.programs__link {
  @include reset-link;

  display: flex;
  align-items: center;
  column-gap: 15px;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $text-color-dark-primary;

  &::after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 10px;

    background-color: $icons-color-dark-primary;
    mask-image: url("../../icons/stack.svg#arrow");
  }

  &:hover::after {
    @include transition;
    mask-image: url("../../icons/stack.svg#arrow-hover");
  }

  &:active {
    @include transition;
    opacity: 0.3;
  }
}
